body{
/*background-color: silver;*/
    /*margin: auto;*/
}
/*header size*/
header{
    /*position: fixed;*/
    /*bottom: 13px;*/
    height: 80px;
    width: 100%;
    background: #f7f6ff;
    text-align: center;
}
/*taking of logo and name arrange them on the same line*/
header li {
    float: left;
    margin-top: 15px;
}
/*menu icon positioning*/
#menu-icon{
    margin-top: 7px;
}
/*logo marge*/
#logo{
    margin-left: 60px;
}
/*center search box*/
#searchGroup{
    margin-left: 100px;
}
/*taking care of input search box*/
input[type="text"]{
    width: 600px;
    height: 41.5px;
    padding-right: 50px;
}
/*taking care of input button search*/
input[type="submit"]{
    margin-left: -65px;
    height:40px;
    width: 60px;
    background: #c4ffcd;
    color: #000;
    border: none;
    -webkit-appearance: none;
}
/*button on hover change background color*/
#searchSubmit:hover{
    background: black;
    color: #ffffff;
}
/*move upload icon to the right*/
#upload-icon{
    margin-left: 60px;
    margin-top: 10px;
}
/*change nav background color*/
nav{
    position: absolute;
    background: #f7f6ff;
    letter-spacing: 1px;
    line-height: 35px;
    width: 300px;
}
/*design menu item*/
.menu-item{
    width: 250px;
    /*height: auto;*/
}

/*rotate menu icon when clicked function-class at the same time*/
.rotateEffect{
    transform: rotate(50deg);
    transition: .8ms;
}

/*add icons before each menu item*/
.menu-links a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.menu-links li.home a{
    background-image: url("/images/home2.png");
}
.menu-links li.movies a{
    background-image: url("/images/movie1.png");
}
.menu-links li.show a{
    background-image: url("/images/tvshow4.png");
}
.menu-links li.music a{
    background-image: url("/images/music1.png");
}
.menu-links li.book a{
    background-image: url("/images/ebook1.png");
}