body{
    background: #b6e6b7;
    /*margin: auto;*/
}
/*header size*/
header{
    position: fixed;
    /*bottom: 13px;*/
    z-index: 1;
    height: 90px;
    width: 100%;
    background: #f7f6ff;
    text-align: center;
}
/*taking of logo and name arrange them on the same line*/
header li {
    float: left;
    margin-top: 20px;
}
/*design header sign in button*/
#sign-in {
    position: relative;
    margin-left: 70px;
    top:10px;
    font-size: 18px;
    color: #000;
}
/*change sign in link color on hover*/
#sign-in:hover{
    color: red;
}
/*apps links design*/
#apps-links{
    position: fixed;
    z-index: 1;
    margin-top: 5.6em;
    /*position: absolute;*/
    background: #f7f6ff;
    letter-spacing: .5px;
    line-height: 35px;
    width: 250px;
    left: 70%;
}
/*change color to black*/
#apps-links a{
    color: #000;
}
/*menu icon positioning*/
#menu-icon{
    margin-top: 7px;
}
/*on hover cursor pointer*/
#menu-icon:hover{
    cursor: pointer;
}
/*logo marge*/
#logo{
    margin-left: 60px;
}
/*center searchVideo box*/
#search-form{
    margin-left: 100px;
}
/*taking care of input searchVideo box*/
input[type="text"]:not(.input){
    width: 600px;
    height: 41.5px;
    padding-right: 50px;
}
/*taking care of input button searchVideo*/
#searchSubmit{
    margin-left: -65px;
    height:40px;
    width: 60px;
    background: #c4ffcd;
    color: #000;
    border: none;
    -webkit-appearance: none;
}
/*button on hover change background color*/
#searchSubmit:hover{
    background: black;
    color: #ffffff;
    cursor: pointer;
}
/*move upload icon to the right*/
#upload-icon{
    margin-left: 200px;
    margin-top: 10px;
}
/*move apps icon to the right*/
#apps-icon{
    margin-left: 30px;
    margin-top: 8px;
}
/*on hover cursor pointer*/
#apps-icon:hover{
    cursor: pointer;
}

/*change nav background color*/
#nav-footer{
    position: fixed;
    background: #f7f6ff;
    letter-spacing: .5px;
    line-height: 35px;
    width: 300px;
    z-index: 1;
    margin-top: 5.6em;
    height: 560px;
}
/*change nav link color to black*/
#nav-footer a{
    color: #000;
}
/*design menu item*/
.menu-item{
    width: auto;
    /*height: auto;*/
}
/*design app item*/
.app-item{
    width:auto;
}
/*upload item width*/
.upload-item{
    width: auto;
}
/*rotate menu icon when clicked function-class at the same time*/
.rotateEffect{
    transform: rotate(45deg);
    /*transition: .3s;*/
}
#nav-footer{
    overflow: hidden;
    overflow-y: scroll;
}
/*add icons before each menu item*/
.menu-links a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.menu-links li.home a{
    background-image: url("/images/home2.png");
}
.menu-links li.movies a{
    background-image: url("/images/movie1.png");
}
.menu-links li.show a{
    background-image: url("/images/tvshow4.png");
}
.menu-links li.music a{
    background-image: url("/images/music1.png");
}
.menu-links li.book a{
    background-image: url("/images/ebook1.png");
}
.menu-links li.news a{
    background-image: url("/images/news.png");
}
/*uploads links design*/
#uploads-links{
    position: fixed;
    z-index: 1;
    margin-top: 5.6em;
    /*position: absolute;*/
    background: #f7f6ff;
    letter-spacing: .5px;
    line-height: 35px;
    width: 250px;
    left: 66%;
}
#uploads-links a{
    color: #000000;
}
#uploads-links ul a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
#uploads-links li.movie a{
    background-image: url("/images/movie1.png");
}
#uploads-links li.tv a{
    background-image: url("/images/tvshow4.png");
}
#uploads-links li.music a{
    background-image: url("/images/music1.png");
}
#uploads-links li.book a{
    background-image: url("/images/ebook1.png");
}

/*add icons before each menu item*/
#apps-links ul a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
#apps-links ul li.youtv a{
    background-image: url("/images/youtv1.png");
}
#apps-links ul li.yougame a{
    background-image: url("/images/yougame2.jpg");
}
#apps-links ul li.youmusic a{
    background-image: url("/images/youmusic.png");
}
#apps-links ul li.youkids a{
    background-image: url("/images/youkids2.jpg");
}
#apps-links ul li.bbc a{
    background-image: url("/images/bbc.png");
}
/*footer designing and positioning*/
footer li{
    float: left;
    text-align: center;
    margin-left: 30px;
}
footer li a:hover{
    text-decoration: underline;
}

/*taking care of section video*/
#video-container{
    position: relative;
    top: 5em;
    z-index: 0;
    padding: 10px 10px 10px 10px;
    background: #b6e6b7;
    color: #ffffff;
    /*margin: auto;*/
    /*width: 75%;*/
}
/*put buttons in the center of the div*/
#btn{
    text-align: center;
}
/*toggle video container class to be used when menu icon is clicked */
.toggleContainer{
    margin-left: 300px;
}
/*design result list*/
#result-video{
    /*margin-left: 60px;*/
}
#result-video li{
    border-bottom: 1px #ccc dotted;
    overflow: auto;
}
/*video heading design*/
.video-heading p{
    /*position: relative;*/
    margin-left: 2em;
}
/*work with list left from data output*/
.list-left{
    float: left;
    width: 20%;
}
.list-left img{
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
    border: solid 3px white;
}
/*work with list right from data output*/
.list-right{
    float: right;
    width: 78%;
}
/*resize the paragraph*/
.list-right p{
    width: 55%;
}
/*clearfix underneath each video*/
.clearfix{
    height: 10px;
}
/*design load button*/
#lbtn-container{
    text-align: center;
}
.pagingLoad-btn{
    /*padding: 8px 13px;*/
    border: none;
    color: #ffffff;
    width: 500px;
    background: #ff7770;
}
.pagingLoad-btn:hover{
   background: #ffa6a0;
}

/*button container positioning*/
.btn-container{
    clear: both;
}
/*next prev button design*/
.paging-btn{
    border: none;
    width: 100px;
    color: #ffffff;
    background: #ff7770;
    margin-left: 3px;
}
.paging-btn:hover{
    background: #ffa6a0;
}
/*list right h3 color change*/
.list-right h3 a{
    color: #ffffff;
}
/*change paragraph color*/
.list-right p{
    color: #f4fffc;
}
/*design load data for main page(home)*/
.list-item-main{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 1px;
    float: left;
    overflow: auto;
}
.list-item-main h5{
    margin-top: 10px;
    width: 180px;
    height: 10px;
}
/*put space on top of channel name and title*/
.channel-date{
    color: #f4fffc;
    position: relative;
    margin-left: 2px;
}
.list-item-main a{
    color: #ffffff;
}
.list-item-main img{
    width: 210px;
    height: 120px;
}
/*book list item design*/
.book-item-main{
    margin-top: 15px;
    margin-bottom: 20px;
    /*margin-left: 1px;*/
    float: left;
    overflow: auto;
}
.book-item-main a{
    color: #ffffff;
}
.book-item-main img{
    border: 1px solid #ffffff;
    margin-left: 5px;
    width: 210px;
    height: 180px;
}
.book-item-main p{
    /*border: 1px solid #ffffff;*/
    margin-left: 5px;
    width: 210px;
}
/*take care of audio player*/
#audioPlayer{
    width: 210px;
}
/*dowload button design*/
.dowload-btn{
    border: none;
    color: #ffffff;
    width: 210px;
    background: #ff7770;
    margin-left: 5px;
    margin-top: 5px;
}
.dowload-btn:hover{
    background: #ffa6a0;
}

/*details button design*/
.detail-btn{
    border: none;
    color: #ffffff;
    width: 210px;
    background: #ff7770;
    margin-left: 5px;
    margin-top: 5px;
}
.detail-btn:hover{
    background: #ffa6a0;
}

/*details button box*/
#details{
    background: #ff7770;
    width: 580px;
    height: 450px;
    color: #ffffff;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 18%;
    border: 5px solid #ffffff;
}
.close{
    color: #ffffff;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.close:hover,.close:focus{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.modal{
    position: fixed;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}
.corps li:not(.nada){
    float: left;
}

.nada{
    position: relative;
    right: 20px;
    width: 300px;
    /*background: #ffffff;*/
}
/*design the update box*/
#ebook-div{
    position: fixed;
    z-index: 1;
    width: 350px;
    height: 350px;
    margin-top: 10.4em;
    /*margin-left: 35%;*/
    padding: 30px;
    left: 35%;
    background: #f4fffc;
    line-height: 30px;
}

#ebook-div input[type="text"]{
    width: 310px;
}
#upload-btn{
    height:30px;
    width: 70px;
    background: #c4ffcd;
    color: #000;
    border: none;
}

#upload-btn:hover{
    background: black;
    color: #ffffff;
    cursor: pointer;
}
/*work on button tabs*/
/*toggle class to marge left the upload box when menu box opened*/
.toggleUploadBox{
    margin-left: 6.5%;
}
/*design new nav*/
#news-div{
    position: fixed;
    z-index: 1;
    left: 27%;
    top:11.4%;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
#list-news li{
    float: left;
    display: block;
    width: 110px;
    margin: auto;
    border: 1px solid #ffffff;
    background: #000000;
}
#list-news a{
    color: #ffffff;
}
#list-news li:hover{
    background: #ffa6a0;
    cursor: pointer;
}
/*#list-news li:active {*/
    /*color: #ffa6a0;*/
/*}*/
/*design load data news for main page(home)*/
.list-item-news{
    margin-top: 15px;
    margin-left: 1px;
    /*margin-bottom: 10px;*/
    float: left;
    overflow: auto;
}
.list-item-news h4{
    width: 310px;
    margin-left: 2px;
    position: relative;
    height: 40px;
    cursor: pointer;
}
.list-item-news p{
    width: 310px;
    font-size: 14px;
    margin-left: 2px;
    position: relative;
    /*height: 25px;*/
}
.list-item-news a{
    color: #ffffff;
}
.list-item-news img{
    width: 315px;
    height: 180px;
    cursor: pointer;
}
.channel-date-news{
    color: #f4fffc;
    position: relative;
    margin-left: 2px;
    bottom: 100px;
    margin-top: 0;
    float: right;
}
/*make ling active on click function*/
.selected{
    background:#ffa6a0;
    /*font-size: 26px;*/
}