body{
/*background-color: silver;*/
    /*margin: auto;*/
}
/*header size*/
header{
    /*position: fixed;*/
    /*bottom: 13px;*/
    height: 80px;
    width: 100%;
    background: #f7f6ff;
    text-align: center;
}
/*taking of logo and name arrange them on the same line*/
header li {
    float: left;
    margin-top: 20px;
}
/*design header sign in button*/
#sign-in {
    position: relative;
    margin-left: 70px;
    top:10px;
    font-size: 18px;
    color: #000;
}
/*change sign in link color on hover*/
#sign-in:hover{
    color: red;
}
/*apps links design*/
#apps-links{
    position: absolute;
    background: #f7f6ff;
    letter-spacing: .5px;
    line-height: 35px;
    width: 250px;
    left: 70%;
}
/*change color to black*/
#apps-links a{
    color: #000;
}
/*menu icon positioning*/
#menu-icon{
    margin-top: 7px;
}
/*on hover cursor pointer*/
#menu-icon:hover{
    cursor: pointer;
}
/*logo marge*/
#logo{
    margin-left: 60px;
}
/*center searchVideo box*/
#search-form{
    margin-left: 100px;
}
/*taking care of input searchVideo box*/
input[type="text"]{
    width: 600px;
    height: 41.5px;
    padding-right: 50px;
}
/*taking care of input button searchVideo*/
input[type="submit"]{
    margin-left: -65px;
    height:40px;
    width: 60px;
    background: #c4ffcd;
    color: #000;
    border: none;
    -webkit-appearance: none;
}
/*button on hover change background color*/
#searchSubmit:hover{
    background: black;
    color: #ffffff;
    cursor: pointer;
}
/*move upload icon to the right*/
#upload-icon{
    margin-left: 200px;
    margin-top: 10px;
}
/*move apps icon to the right*/
#apps-icon{
    margin-left: 30px;
    margin-top: 8px;
}
/*on hover cursor pointer*/
#apps-icon:hover{
    cursor: pointer;
}

/*change nav background color*/
#nav-footer{
    position: absolute;
    background: #f7f6ff;
    letter-spacing: .5px;
    line-height: 35px;
    width: 300px;
    z-index: 1;
}
/*change nav link color to black*/
#nav-footer a{
    color: #000;
}
/*design menu item*/
.menu-item{
    width: auto;
    /*height: auto;*/
}
/*design app item*/
.app-item{
    width:auto;
}

/*rotate menu icon when clicked function-class at the same time*/
.rotateEffect{
    transform: rotate(45deg);
    transition: .3s;
}

/*add icons before each menu item*/
.menu-links a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.menu-links li.home a{
    background-image: url("/images/home2.png");
}
.menu-links li.movies a{
    background-image: url("/images/movie1.png");
}
.menu-links li.show a{
    background-image: url("/images/tvshow4.png");
}
.menu-links li.music a{
    background-image: url("/images/music1.png");
}
.menu-links li.book a{
    background-image: url("/images/ebook1.png");
}

/*set apps div on top of video container*/
#apps-links{
    z-index: 1;
}
/*add icons before each menu item*/
#apps-links ul a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
#apps-links ul li.youtv a{
    background-image: url("/images/youtv1.png");
}
#apps-links ul li.yougame a{
    background-image: url("/images/yougame2.jpg");
}
#apps-links ul li.youmusic a{
    background-image: url("/images/youmusic.png");
}
#apps-links ul li.youkids a{
    background-image: url("/images/youkids2.jpg");
}
/*footer designing and positioning*/
footer li{
    float: left;
    text-align: center;
    margin-left: 30px;
}
footer li a:hover{
    text-decoration: underline;
}

/*taking care of section video*/
#video-container{
    position: relative;
    z-index: 0;
    padding: 20px 20px 20px 20px;
    background: #b6e6b7;
    color: #ffffff;
}
/*toggle video container class to be used when menu icon is clicked */
.toggleContainer{
    margin-left: 300px;
}
/*design result list*/
#result-video li{
    border-bottom: 1px #ccc dotted;
    overflow: auto;
}
/*work with list left from data output*/
.list-left{
    float: left;
    width: 20%;
}
.list-left img{
    width: 100%;
    padding: 3px;
    border: solid #f7f6ff 1px;
}
/*work with list right from data output*/
.list-right{
    float: right;
    width: 78%;
}
/*resize the paragraph*/
.list-right p{
    width: 55%;
}
/*clearfix underneath each video*/
.clearfix{
    height: 10px;
}
/*design load button*/
#lbtn-container{
    text-align: center;
}
.pagingLoad-btn{
    /*padding: 8px 13px;*/
    border: none;
    margin-left: 33%;
    color: #ffffff;
    width: 500px;
    background: #ff7770;
}
.pagingLoad-btn:hover{
   background: #ffa6a0;
}